<div class="product">
	<h1 class="product__title">{{title}}</h1>
	<img src="{{product.url}}" alt="{{product.title}}">
	<span class="product__price"><b>Цена:</b></span>
	<p class="price">{{product.price}}</p>
	<span class="product__description"><b> Описание товара:</b></span>
	<p>{{product.description}}</p>
</div>